<div class="center hero-unit">
  <h1>Moodly</h1>

  <h2>
    Welcome to Moodly, Humanize the internet.
  </h2>

  <%= link_to "Sign up now!",signup_path, class: "btn btn-large btn-primary" %>

</div>




